@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name 
*/

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


body{
  background-color: linear-gradient(to bottom right, #e5f6f4,#f8f6e7);
  background-image: radial-gradient(circle at 1.5px 1.5px, rgb(192, 192, 192) 1px, transparent 0);
  background-size: 40px 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: grid;
  align-content: center;
  height: 100vh;
}

h1{
  font-size: 48px;  
}

.greeting::before{
  content: "👋";
}

.tags{
  font-size: 0.75rem;
  margin: 0 0 0.65rem 0
}

.tags span{
  border: 1.2px solid black;
  border-radius: 50px;
  padding: 2px 8px;
}


.social-links{
  border-radius: 20px;
  background-color: rgb(230, 230, 236);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.social-links a{
  /* border: 1.2px solid black;
  border-radius: 50%; */
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-links a img{
  height: 15px; 
}





@media (max-width: 575px) {
 
 h1{
  font-size: 40px;
 } 

 hero{
  padding: 20px;
 }

 p{
  font-size: 20px;
 }

 
}

@media (min-width:576px) and (max-width: 767px) {
 
  
}

@media (min-width: 768px) {
 
}

